.card {
  width: 320px;
  background: #fff;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #b3e5fc;
  position: relative;
}
.card .card-text {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}
.card .card-text small {
  color: #444;
  display: inline-block;
  margin-right: 10px;
}
.card .card-expect-input {
  display: block;
  font-size: 1em;
  padding: 10px;
  width: 100%;
  border: 1px solid #03a9f4;
  margin-bottom: 10px;
  height: 40px;
}
.card .card-btn {
  display: block;
  text-transform: uppercase;
  background: #03a9f4;
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
}
.card .card-answer-text.incorrect {
  color: #ef5350;
}
.card .card-answer-text.correct {
  color: #66bb6a;
}
.card.incorrect .card-text small {
  color: #ccc;
}

.card-missing {
  text-align: center;
  font-size: 1.2em;
}
.counter {
  background: #03a9f4;
  height: 2px;
  transition: width 50ms;
}
.card .counter {
  position: absolute;
  top: -1px;
  left: 0;
}
