.deck-list {
  width: 320px;
  margin: 30px auto;
  position: relative;
  list-style-type: none;
  padding: 0;
}
.deck-list .deck-list-element .deck-list-element-link {
  display: block;
  background: #fff;
  margin: 5px;
  padding: 20px;
  text-align: center;
  border: 1px solid #b3e5fc;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
